#codechef{
  height: 40px;
  width: 120px;
}
#codeforces{
  height: 40px;
  width: 140px;
}
#git{
  width: 60px;
  height: 40px;
}
#linkedin{
    width: 50px;
  height: 40px;
}

.navbar-brand{
  font-family: 'Squada One', cursive;
  font-size: 36px;
}

.intro{
  font-family: 'Squada One', cursive;
  font-size:19px;
}

.active, .intro1:hover {
  background-color: #666;
  color: white;
  size: 50px;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}


h2 span { 
  top: 100px; 
   left: 10px; 
   text-align: center;
   width: auto; 
   color: white; 
   font-family: 'Carter One', cursive;
 font-size: 50px;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
     position: absolute; 
}
h3 span { 
  top: 800px; 
   left: 1350px; 
   text-align: left;
   width: auto; 
   color: white; 
   font-family: 'Carter One', cursive;
 font-size: 50px;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
     position: absolute; 
}

